<!DOCTYPE html>
<html>
    <head>
        <title>Tumi Clientes</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>
    <body class="container justify-content-center bg-secondary">
        <div class="row justify-content-center min-vh-100">
            <div class="col-6 d-flex align-items-center justify-content-center">
                <div class="row h-75 justify-content-center">
                    <form method="post" action="{% url 'clientTumi:index' %}">
                    {% csrf_token %}
                        <!-- Email input -->
                        <div class="row">
                            <input type="text" class="form-control" name='usuarioInfo'/>
                            <label class="form-label text-white">Email address</label>
                        </div>
                      
                        <!-- Password input -->
                        <div class="row">
                            <input type="password" class="form-control" name="contraInfo"/>
                            <label class="form-label text-white" for="form2Example2">Password</label>
                        </div>
                      
                        <!-- Submit button -->
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>